<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>📰 Fake News Detector</h2>

    <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>


<div class="hero">

    <h1>Detect Fake News Instantly</h1>

    <p>
        Check whether a news headline is real or suspicious using AI-based news verification.
    </p>

    <a href="/login" class="btn">
        Get Started
    </a>

</div>

</body>
</html>